.send_area_main{
  display: grid;
  margin-top: 10px;
  grid-template-columns: 50px 1fr 50px 50px;
}
.clip i{
  margin-left: 12px;
  font-size: 25px;
  margin-top: 2px;
}
.text_area input{
  margin-top: 1px;
  min-width: 96%;
  max-width: 96%;
  border: none;
  outline: none;
  background-color: #444446;
  color: #D4D4D4;
  font-size: 22px;
}

.smiles i{
  font-size: 25px;
  color: #747474;
  margin-top: 2px;
}

.voice i{
  font-size: 25px;
  margin-left: 2px;
  margin-top: 2px;
}
